* {
    margin: 10px;
}

body {
    background-color: thistle;
    /* background-image: url("../css/images/cubebackground.jpg"); */
    /* background-size: cover; */
    /* position: absolute; */
}

.gif {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}